.banner-buscador {
    height: 38em; 
    position: relative;
}

.main-slider {
    position: absolute; 
    top: 0;
}

.carousel-inner {
    height: 32em;
}

.carousel-inner img {
    width: 100%; 
    height: 100%;
}