.usuario{
    background-color: white;

    margin: auto;


}

.contenedor{
    background-color:#f3ffe6;

}
.contenedoruser{

    display: flex;


    box-sizing: border-box;
    align-items: flex-start;


}


.contenido1{
    background-color: white;


}

.contenido3{

}

.contenido2{

    padding: 2em;
}

.card-reserva{
    max-width: 26em;

}

.cartawidth{
    width: 25em;

}

.padding{
    padding-top: 1em;

}



.margin2{
    margin-right: 4em;

}

@media screen and (min-width:768px){
    .usuario{
        background-color: white;
        width: 70%;
        margin: auto;
    }
    .card-reserva{
        max-width: 100%;

    }
    .contenido2{

        padding: 2em;
    }
    .cartawidth{
        width: 15em;

    }
    .margin2{
        margin-right: 2em;

    }
    .contenido1{
        background-color: white;
        width: calc(30% - 2em);

    }

    .contenido3{
        width: calc(70% - 2em);
    }


}


@media screen and (min-width:60em){
    .usuario{
        background-color: white;
        width: 70%;
        margin: auto;
    }
    .contenido2{

        padding: 2em;
    }
    .card-reserva{
        max-width: 100%;

    }
    .cartawidth{
        width: 60em;

    }


    .margin2{
        margin-right: 4em;

    }
    .contenido1{
        background-color: white;
        width: calc(25% - 2em);

    }

    .contenido3{
        width: calc(75% - 2em);
    }
}
