.usuario{
    background-color: white;
    width: 69%;
    margin: auto;


}


.contenedor{
    background-color:#f3ffe6;

}

.contenido1{
    background-color: white;


}
.contenido2{

    padding: 2em;
}


.cartawidth{
    width: 60em;

}

.padding{
    padding-top: 1em;

}

.margin{
    padding-right: 4em;
}

.margin2{
    margin-right: 4em;

}