* {
    margin: 0;
    padding: 0;
    font-family: 'Staatliches', cursive;
}

/* H1 */
h1 {
    color: rgb(230, 230, 230);
}

/* Etiquetas de Link*/
a {
    text-decoration: none;
}

/* BODY */
body {
    background-color: rgb(20, 20, 20);
}

/* NAVBAR */
.nav-link {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

.nav-link:hover {
    text-decoration: underline;
    color: rgba(230, 230, 230, 0.856);
}


/* Registrar */

.login{
    background-image:url("../marte.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
