{{>header}}
<title>Mis Reservas - Gaucho Rocket</title>
<main class="usuario">
    <section class="d-flex contenedor" id="wrapper">
        <article  class="contenido2" id="page-content-wrapper">
            <h3>Reservas</h3>

            <div class="padding">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destino</th>
                            <th scope="col">Fecha del Vuelo</th>
                            <th scope="col">Fecha de Reserva</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Estado de Pago</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{# reservas}}
                        <tr>
                            <td><p>{{codigoReserva}}</p></td>
                            <td><p>{{origen}}</p></td>
                            <td><p>{{destino}}</p></td>
                            <td><p>{{fecha}}</p></td>
                            <td><p>{{fechaDeReserva}}</p></td>
                            <td><p>$ {{precio}}</p></td>
                            <td><p>{{pago}}</p></td>

                            <td><a href="/MisReservas/verReservaPDF?codigoReserva={{codigoReserva}}">Ver Reserva</a></td>
                            <td><a href="/MisReservas/eliminarReserva?codigoReserva={{codigoReserva}}">Eliminar Reserva</a></td>
                            <td><a href="/MisReservas/checkin?codigoReserva={{codigoReserva}}">Check In</a></td>


                        </tr>
                        {{/ reservas}}</tbody>
                    </table>

                </div>

            </div>
            <br>
        </article>
    </section>
</main>

{{>footer}}