{{>header}}

<title>Reservas-GauchoRocket</title>
<main>
    <main class="usuario">
        <section class="d-flex contenedor" id="wrapper">
            <article  class="contenido2  " id="page-content-wrapper">

                <form class="card card-reserva padding mx-auto  " style="width: 45rem;" action="/vuelos/seleccionarServicioYCabina" method="post">

                    <div class=" card-body card-reserva padding px-5 ">
                        <h3 class="card-title">Reserva</h3>
                        <div class=" padding px-2 ">
                            {{#datosUsuario}}
                            <h4 class="card-subtitle mb-2 text-muted">datos del pasajero</h4>
                            <div class=" px-2 ">
                                <p> nombre y apellido : {{nombre}} {{apellido}} </p>
                                <p> email: {{email}}</p>
                            </div>
                            {{/datosUsuario}}

                            <h4 class="card-subtitle mb-2 text-muted">datos del vuelo </h4>
                            <div class=" px-2 ">
                                {{#vueloSeleccionado}}
                                <input hidden value="{{codigo}}" name="codigo_vuelo">
                                <p>Partida:{{origen}}</p>
                                <p>Destino: {{destino}}</p>
                                <p>tipo de vuelo: {{nombre}}</p>
                                <p>fecha de partida: {{fecha}}</p>
                                {{/vueloSeleccionado}}
                            </div>

                            <label for="cabinas" class="mt-2">Selecciona el tipo de Cabina</label>
                            <select name="cabinas" id="cabinas" class="form-select">
                                {{#CabinasYServicios}}
                                <option value="{{codigoC}}">{{descripcionC}}  ${{precioC}}</option>
                                {{/CabinasYServicios}}
                            </select>

                            <label for="servicios" class="mt-2">Selecciona el tipo de Servicio</label>
                            <select name="servicios" id="servicios" class="form-select">
                                {{#CabinasYServicios}}
                                <option value="{{codigoS}}">{{descripcionS}}  ${{precioS}}</option>
                                {{/CabinasYServicios}}
                            </select>
                        </div>


                    </div>

                    <input type="submit" class="btn btn-primary m-3" value="Confirmar Reserva" />

               </form>

            <br>
            </article>
        </section>
    </main>
</main>

{{>footer}}