{{>header}}

<main>
    <main class="usuario">
        <section class="d-flex contenedor" id="wrapper">
            <article  class="contenido2 " id="page-content-wrapper">

                <div class="card padding mx-auto" style="width: 70rem;">

                    <div class=" card-body padding px-5 ">
                        <h3 class="card-title">Reserva</h3>
                        <div class=" padding px-2 ">
                            {{#datosUsuario}}
                            <h4 class="card-subtitle mb-2 text-muted">datos del pasajero</h4>
                            <div class=" px-2 ">
                                <p> nombre y apellido : {{nombre}} {{apellido}} </p>
                                <p> email: {{email}}</p>
                            </div>
                            {{/datosUsuario}}
                            <h4 class="card-subtitle mb-2 text-muted">datos de reserva </h4>
                            <div class=" px-2 ">
                                {{#reserva}}
                                <p>Partida:{{origen}}</p>
                                <p>Destino: {{destino}}</p>
                                <p>tipo de vuelo: {{nombre}}</p>
                                <p>fecha de partida: {{fecha}}</p>
                                <p>fecha de regreso: {{fecha}}</p>

                                <p>nivel de vuelo: {{descripcion}}</p>

                                <p>tipo de servicio: {{descripcion}}</p>
                                <p>precio: {{precio}}</p>
                                {{/reserva}}
                            </div>
                            <a href="#" class="btn btn-primary">Confirmar Reserva</a>
                        </div>


                    </div>

                   </div>

                <br>
            </article>
        </section>
    </main>
</main>

{{>footer}}