{{> header}}
<main class="usuario">

    <section class="d-flex contenedor" id="wrapper">

        <article class="contenido1 " id="sidebar-wrapper">

            <div >

                <div class="list-group list-group-flush p-2   ">
                    <a href="/user" class="list-group-item list-group-item-action bg-gris menu-lateral margin2 "> Mis datos</a>
                    <a href="/turn" class="list-group-item list-group-item-action bg-gris menu-lateral margin2"> Turno Medico</a>
                    <a href="#" class="list-group-item list-group-item-action bg-gris menu-lateral margin2"> Mis Vuelos</a>


                </div>
            </div>

        </article>
        <article  class="contenido2" id="page-content-wrapper">


     {{^ no-disponible}}
    <h2 class="text-dark">Solicitar Turno</h2>
    <form action="turn/sacarTurno" method="post" class="w3-p">
        <div class="form-group">
            <label for="date" class="mt-3">Selecciona una fecha</label>
            <input type="date" name="date" id="date" class="form-control mt-1">
            <label for="centro" class="mt-3">Selecciona el lugar</label>
            <select name="centro" id="centro" class="form-control mt-1">
                {{# centros}}
                <option value="{{codigo}}">{{nombre}}</option>
                {{/ centros}}
            </select>

            <input type="submit" value="Solicitar" class="btn btn-primary mt-5">
        </div>
    </form>
    {{/no-disponible}}

    {{# no-disponible}}
    <div class="p-3">
        <h2>No hay turnos disponibles para esta fecha</h2>
        <a href="/turn" name="turno" class="btn btn-primary mt-5">Volver a Intentar</a>
    </div>
    {{/ no-disponible}}

     </article>
    </section>
</main>
{{> footer}}