{{>header}}

{{#datosUsuario}}
<title>{{usuario}}-Gaucho Rocket</title>
/{{/datosUsuario}}

<main class="usuario">
    <section class="d-flex contenedor" id="wrapper">

      <article class="contenido1 " id="sidebar-wrapper">
          <div >

              <div class="list-group list-group-flush p-2   ">
                  <a href="/user" class="list-group-item list-group-item-action bg-gris menu-lateral margin2 "> Mis datos</a>
                  <a href="/turn" class="list-group-item list-group-item-action bg-gris menu-lateral margin2"> Turno Medico</a>
                  <a href="#" class="list-group-item list-group-item-action bg-gris menu-lateral margin2"> Mis Vuelos</a>


              </div>
          </div>
          <!-- /#sidebar-wrapper -->


      </article >
        {{#datosUsuario}}
        <article  class="contenido2" id="page-content-wrapper">

            <h3>Mis datos</h3>
            <div class="padding">
                <h5>Datos de cuenta</h5>
                <div class="card cartawidth" >
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">usuario:{{usuario}}</li>
                        <li class="list-group-item">E-mail: {{email}}</li>
                        <li class="list-group-item">nivel de vuelo :  {{descripcion}}</li>
                    </ul>
                </div>
            </div>

            <br>

            <div class="padding">
                <h5>Datos Personales</h5>
                <div class="card cartawidth" >
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">nombre: {{nombre}}</li>
                        <li class="list-group-item">apellido: {{apellido}}</li>
                        <li class="list-group-item">dni: {{dni}}</li>
                        <li class="list-group-item">telefono : {{telefono}}</li>
                    </ul>
                </div>

            </div>


        {{/datosUsuario}}

         </article>



     </section>





 </main>

 {{>footer}}