{{>header}}

{{#datosUsuario}}
<title>{{usuario}}-Gaucho Rocket</title>
{{/datosUsuario}}

<main class="usuario">
    <div class="bg-verde">
        <nav class="  d-block d-sm-block d-md-none">
            <a class="btn btn-success bg-verde rounded-0 border-0 link-menu pr-3" id="menu-toggle"  href="#"><img class="home-img" src="../public/img/perfil.png" alt="">menu de usuario</a>
        </nav>
    </div>


    <section class="d-flex contenedor contenedoruser" id="wrapper">

      <article class="contenido1 " id="sidebar-wrapper">

          <div >
              <div class="list-group list-group-flush p-2   ">
                  <a href="/user" class="list-group-item list-group-item-action bg-gris   "> Mis datos</a>
                  <a href="/turn" class="list-group-item list-group-item-action bg-gris  "> Turno Medico</a>
                  <a href="/MisReservas" class="list-group-item list-group-item-action bg-gris  "> Mis Reservas</a>

              </div>
          </div>


      </article >


        {{#datosUsuario}}
        <article  class="contenido2 contenido3" id="page-content-wrapper">

            <h3>Mis datos</h3>
            <div class="padding">
                <h5>Datos de cuenta</h5>
                <div class="card cartawidth" >
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">usuario: {{usuario}}</li>
                        <li class="list-group-item">E-mail: {{email}}</li>
                        <li class="list-group-item">nivel de vuelo :  {{descripcion}}</li>
                    </ul>
                </div>
            </div>

            <br>

            <div class="padding">
                <h5>Datos Personales</h5>
                <div class="card cartawidth" >
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">nombre: {{nombre}}</li>
                        <li class="list-group-item">apellido: {{apellido}}</li>
                        <li class="list-group-item">dni: {{dni}}</li>
                        <li class="list-group-item">telefono : {{telefono}}</li>
                    </ul>
                </div>

            </div>


        {{/datosUsuario}}

         </article>



     </section>


    <script src="../public/css/jquery.min.js"></script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
 </main>

 {{>footer}}