{{>header}}

<main>
    <main class="usuario">
        <section class="d-flex contenedor" id="wrapper">
            <article  class="bg-white contenido2" id="page-content-wrapper">

              <h2 class="t-white text-center">por favor confirma tu correo para registrarte</h2>




                        <button type="button" class="btn btn-primary m-3 botonderecha" label="Volver a Inicio">
                        <a class="text-white " href="/home.html">volver al home</a></button>

            </article>
        </section>
    </main>
</main>

{{>footer}}