{{>header}}

<title>Asientos-GauchoRocket</title>
    <main class="usuario">
        <section class="d-flex contenedor" id="wrapper">
            <article  class="contenido2 " id="page-content-wrapper">

                <form class="card padding mx-auto" style="width: 45rem;"
                 action="/vuelos/asignarReserva" method="post">

                    <div class=" card-body padding px-5 ">
                        <h3 class="card-title">Elija su Asiento</h3>
                        <div class=" padding px-2 ">



                        <div id="seats">
                            {{# ubicaciones}}
                            <input id="seat-{{asiento}}" class="seat-select" type="radio"
                             value="{{codigoUbicacion}}" name="ubicacion_vuelo"
                                   {{# ocupado}}
                                   disabled
                                   {{/ ocupado}} />

                            <label for="seat-{{asiento}}" class="seat">{{asiento}}</label>
                            {{/ ubicaciones}}
                        </div>

                        </div>
                    </div>

                    <input type="submit" class="btn btn-primary m-3" value="Confirmar Reserva" />

               </form>

            <br>
            </article>
        </section>
    </main>


{{>footer}}